<h1>Edit Friend Circle</h1>

<form method="post" action="<%= friend_circle_url %>">
	<input type="hidden" name="_method" value="put">
  <%= render "form" %>
	<input type="submit" value="Edit Circle">
</form>